# Configuration created by Apache Sling JCR Installer
scripts=["create\ service\ user\ wknd-service-user\ with\ path\ /home/users/system/wknd/wknd-service-user","set\ ACL\ for\ wknd-service-user\r\nallow\ jcr:read,rep:write,crx:replicate\ on\ /content/wknd\r\nallow\ jcr:read\ on\ /conf/wknd\r\nallow\ jcr:read\ on\ /apps\r\nend","create\ group\ wknd-users\ with\ path\ /home/groups/wknd-users\r\nset\ ACL\ for\ wknd-users\r\nallow\ jcr:read,rep:write,crx:replicate\ on\ /content/wknd\r\nallow\ jcr:read,rep:write\ on\ /conf/wknd\r\nallow\ jcr:read,rep:write\ on\ /apps/wknd\r\nallow\ jcr:read,rep:write\ on\ /home\r\nallow\ jcr:read\ on\ /\r\nend","create\ user\ wknd-admin\ with\ path\ /home/users/geeks/wknd-admin\ with\ password\ 12345\r\nadd\ wknd-admin\ to\ group\ wknd-users"]
references=[""]
# BundleId:subserviceName=userName.
# aem-guides-wknd.core:datawrite=[wknd-service-user]